footer{
	min-height:200px;
	background-color:#090909;
	color:white;
	border-top:2px solid #ffffff;
}

footer > div {
	padding-top: 10px;
}

@media screen and (max-width: 969px) {
	.row > div {
		padding: 6px 0 0;
	}
}

/*
footer:before {
	content: "";
	position: fixed;
	top: -5%;
	left: -5%;
	right: -5%;
	bottom: -5%;
	z-index: -1;

	display: block;
	background-image: url(images/footer-bg.jpg);
	background-size: cover;
	width: 110%;
	height: 110%;

	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

footer {
	overflow: auto;
	position: relative;
	min-height: 50px;
}

.transparent {
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 0 0 5px gray;
}
*/