<footer class="container-fluid bg-light-grey">
    <div class="row text-center">
        <div class="col-12 col-sm-4">
            <p>Telefon: +46 46 286 24 10</p>
            <a href="mailto:info@q2d.se" target="_top"><p>info@q2d.se</p></a>
        </div>
        <div class="col-12 col-sm-4">
            <p>© 2017 q2d Solutions</p>
        </div>
        <div class="col-12 col-sm-4">
            <p>q2d Solutions AB</p>
        	<p>Scheelevägen 17</p>
        	<p>223 70 Lund</p>
        </div>
    </div>
</footer>