<div class="container-fluid">
    <div class="row">
        <div class="offset-5 col-2">
            <br>
            <h2>Login</h2>
            <div class="login-container">
                <div class="card card-container">
                    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                    <p id="profile-name" class="profile-name-card"></p>
                    <form class="form-signin">
                        <span id="reauth-email" class="reauth-email"></span>
                        <!-->//#DATA-BINDING ngModel<-->
                        <input  [(ngModel)]="loginName" type="email" id="inputEmail" class="form-control" name="Email" placeholder="Email" value="admin@mail.com" required autofocus>
                        <input [(ngModel)]="pass" type="Password" id="inputPassword" class="form-control" name="Password" placeholder="Lösenord" required>
                        <!--div id="remember" class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me">Kom ihåg mig
                            </label>
                        </div-->
                        <button (click)="logIn()" id="login-btn" class="btn btn-lg btn-primary btn-block btn-signin">Logga in</button>
                    </form><!-- /form -->

                    <div class="wrong-credentials" style="color:red;display:none">Fel uppgifter</div>
                </div><!-- /card-container -->
            </div><!-- /container -->
        </div>
    </div>
</div>
